:root {
    --primary: #0066cc;
    --secondary: #3399ff;
    --dark: #081a2b;
    --light: hsl(30, 40%, 90%);
    --mute: hsl(210, 10%, 50%);
    --light-2: hsl(30, 20%, 80%);
    --dark-2: hsl(210, 30%, 20%);
    --transparent: hsla(30, 30%, 80%, .7);
    --transparent-2: hsla(210, 30%, 20%, .7);
    --positive: hsl(140, 100%, 20%);
    --negative: hsl(350, 100%, 30%);


    --slide: calc(100vh - 0px);
    --m1: 1em;
    --m2: .7em;
    --m3: .5em;
    --p1: 16px;
    --p2: 8px;
    --p3: 4px;
    --f0: 2em;
    --f1: 1.5em;
    --f2: 1.25em;
    --f3: 1.125em;
    --s1: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1);
    --s2: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);
    --s3: 0 1px 2px 0 rgba(0, 0, 0, 0.05);

}

body {
    background-color: var(--light);
    color: var(--dark);
}

body > header {
    height: 70px;
    background: var(--dark);
    color: var(--light);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header1:after {
    content: "";
    height: 1em;
    width: 3px;
    background: var(--light);
    display: inline-block;
    transform: translateY(3px);
    animation: blink 700ms infinite;
}

header > .logo {
    height: 70px;
    width: 70px;
    background: var(--dark);
    display: flex;
    color: var(--dark-2);
}


header > nav {
    width: 60%;
    max-width: calc(100% - 90px);
}

body > header > nav > .close,
body > header > .menu {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background: rgba(255, 255, 255, .1);
    position: absolute;
    top: 10px;
    right: 10px;
    display: none;
    border: 1px solid var(--dark);
}

body > header > nav > .close:hover,
body > header > .menu:hover {
    background: rgba(255, 255, 255, .3);
}

header > nav > ul {
    display: flex;
    justify-content: space-evenly;
    font-weight: 600;
}

header > nav li {
    padding: var(--m2);
    border-radius: var(--p3);
}

header > nav li:hover,
header > nav li.active {
    background: rgba(0, 0, 0, .3);
    color: var(--secondary);
}

header > nav li.active > a {
    color: inherit;
}

.container {
    height: calc(100vh - 70px);
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scrollbar-base-color: transparent;
}

.slide {
    height: var(--slide);
    color: var(--light);
    background-color: var(--primary);
    background-blend-mode: multiply;
    background-position: 50%;
    background-size: 100%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    transition: all .5s ease;
    scroll-snap-align: start;
    font-size: var(--f2);
}

.slide:hover {
    background-color: var(--dark);
}

.slide.p1 {
    background-image: url("../assets/p1.jpg");
}

.slide.p2 {
    background-image: url("../assets/p2.jpg");
}

.slide.p3 {
    background-image: url("../assets/p3.jpg");
}

.slide > svg.down {
    fill: var(--dark-2);
    position: absolute;
    bottom: 0;
}

.slide > svg.up {
    fill: var(--dark-2);
    position: absolute;
    top: 0;
    width: 100vw;
}

.slide.p1 > svg.up {
    fill: var(--dark);
}

.slide > button {
    background: transparent;
    color: var(--light-2);
    border: 2px solid var(--light-2);
    padding: var(--m2);
    margin: var(--m1);
    border-radius: var(--p2);
    font-size: 1.1rem;
}

.slide > button:hover {
    background: var(--light-2);
    color: var(--dark-2);
}

.text-content {
    height: var(--slide2);
    background: var(--dark-2);
    box-sizing: border-box;
}


.txt1 {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    color: var(--light-2);
    padding: var(--m2);
}

.txt2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 2fr;
    color: var(--light-2);
    padding: var(--m2);
}

.text-content > blockquote {
    background: var(--light);
    box-shadow: var(--s2);
    display: flex;
    align-items: center;
    justify-content: center;
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 4;
    color: var(--dark-2);
    font-size: var(--f2);
    box-sizing: border-box;
    padding: var(--m1);
    text-align: left;
    border-radius: var(--p2);
    border-top: var(--m2) solid var(--dark);
}

blockquote:after,
blockquote:before {
    content: "\"";
    font-size: var(--f0);
    font-family: "material icons";
    font-weight: 100;
    transform: translateY(2em);
}

blockquote:before {
    transform: rotate(180deg) translateY(2em);
}

.text-content > .image {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
    display: flex;
    justify-content: start;
    align-items: center;
    max-height: 50vh;
}

.image > svg {
    max-height: 50vh;
}

.text-content > .name {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
    padding-left: var(--m1);
}

.text-content > .name > .author {
    font-size: var(--f0);
}

.text-content > .name > .label {
    font-size: var(--f3);
    padding-top: var(--m2);
}

.text-content > .header {

}

.text-content > .t {
}

.plans {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    padding: var(--m1);
}

.plan {
    border: 2px solid var(--light-2);
    border-radius: 1em;
    justify-content: center;
    align-items: center;
    padding: var(--m2);
    margin: var(--m2);
    box-shadow: var(--s2);
    box-sizing: border-box;
}

.plan:hover {
    border-color: var(--mute);
    box-shadow: var(--s1);
    transform: scale(1.05);
}

.plan.active {
    border-color: var(--primary)
}

.plan.active:hover {
    border-color: var(--secondary);
}

.plan > header {
    font-size: var(--f1);
    text-align: center;
    border-bottom: 1px solid var(--mute);
    padding: var(--p1);
    font-weight: 600;
}

.plan ul {
    margin: var(--m3) var(--m2);
    padding: var(--m3) 0;
}

.plan ul > li.yes {
    color: var(--positive);
}

.plan ul > li.no {
    color: var(--negative);
}

.plan ul > li:before {
    padding-right: var(--m2);
}

.plan ul > li.yes:before {
    content: "V";
}

.plan ul > li.no:before {
    content: "X";
}

.plan ul > li {
    padding-left: var(--m3);
    margin: var(--m3) 0;
}

@media screen and (max-width: 400px) {
    :root {
        --slide: calc(50vh - 35px);
    }

    body {
        font-size: 18px;
    }

    body > header {
        flex-direction: column;
        justify-content: start;
    }

    body > header > nav {
        position: fixed;
        top: 0;
        right: -100%;
        background: var(--transparent);
        color: var(--dark);
        backdrop-filter: blur(5px);
        height: 100vh;
        width: 70%;
        align-items: center;
        justify-content: center;
        display: flex;
        z-index: 1000;
    }

    body > header > nav.active {
        right: 0;
        backdrop-filter: blur(5px);
    }

    body > header > nav.active + .menu {
        opacity: 0;
    }

    body > header > nav > .close,
    body > header > .menu {
        display: block;
    }


    body > header ul {
        flex-direction: column;
        height: calc(var(--slide) - 80px);
        align-items: center;
        justify-content: center;
        padding: var(--p2);
    }

    body > header li:hover {
        color: var(--light-2);
    }

    .txt1 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto 1fr;
        color: var(--light-2);
        padding: var(--m2);
    }

    .text-content > blockquote {
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-start: 1;
        grid-column-end: 3;
        font-size: var(--f3);
        padding: var(--m2);
        border-radius: var(--p3);
        border-top: var(--m3) solid var(--dark);
    }

    .text-content > .image {
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 1;
        grid-column-end: 2;
        max-height: 30vh;
    }

    .image > svg {
        max-height: 30vh;
    }

    .text-content > .name {
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 2;
        grid-column-end: 3;
        padding-left: var(--m3);
    }

    .text-content > .name > .author {
        font-size: var(--f1);
    }

    .text-content > .name > .label {
        font-size: var(--f3);
        padding-top: var(--m3);
    }

    .plans {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }

    .slide {
        background-size: auto 100%;
    }
}

@media screen and (max-width: 720px) and (min-width: 400px) {
    .plans {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
}

